{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/logo1.png' %}" type="">

  <title> Pyog Cafe </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/banner1.png' %}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="\hoe">
            <span>
              Pyog Cafe
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="\home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="\menu">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="\about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="\contact">Booking </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Maid Cafe 
                    </h1>
                    <p>
                       Maid Cafe merupakan sebuah cafe kekinian dikalangan anak muda khususnya pecinta Anime, dengan sedikit berbeda tampilan dengan cafe pada umumnya para waiters disini mengenakan pakaian seorang maid dengan memainkan sebuah peran tiap orangnya.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Order Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Food and Drink
                    </h1>
                    <p>
                      Makanan dan minuman disini dibuat menggunakan bahan berkualitas dan tampilannya sangat cocok untuk semua kalangan karena instagramable banget.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Order Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Dessert
                    </h1>
                    <p>
                      Dessert di cafe kami masih sebatas Mile Crepes yang mana rasanya spektakuler dan cocok untuk semua kalangan. Mile crepes ini terdiri dari beberapa varian didalamnya.
                    </p>
                    <div class="btn-box">
                      <a href="\menu" class="btn1">
                        Order Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h1 align="center">{{menu}}</h1>
        <table border="1" style="margin:auto;">
          <tr align="center">
            <th>Nama</th>
            <th>Keterangan</th>
          </tr>
      
          {% for x in home %}
          <tr>
            <td>{{x.nama}}</td>
            <td>{{x.keterangan}}</td>
          </tr>
          {%endfor%}
        </table>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- offer section -->
  <!-- end offer section -->
  <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Menus
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".burger">Boba</li>
        <li data-filter=".pizza">Mile Crepes</li>
        <li data-filter=".pasta">Main Cores</li>
        <li data-filter=".fries">Takoyaki</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/red.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Red Velvet Mile Crepes
                  </h5>
                  <p>
                    Sangat cocok untuk dijadikan teman ngemil dikala tugas melanda dan deadline sudah didepan mata.
                  </p>
                  <div class="options">
                    <h6>
                      Rp.18.000
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/oreo.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Oreo Mile Crepes
                  </h5>
                  <p>
                    Sangat cocok untuk dijadikan teman ngemil dikala tugas melanda dan deadline sudah didepan mata.
                  </p>
                  <div class="options">
                    <h6>
                      Rp.18.000
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/matcha1.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Matcha Mile Crepes
                  </h5>
                  <p>
                    Sangat cocok untuk dijadikan teman ngemil dikala tugas melanda dan deadline sudah didepan mata.
                  </p>
                  <div class="options">
                    <h6>
                      Rp.18.000
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/beef.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Beef Steak
                  </h5>
                  <p>
                    Daging sirloin yang dipanggang dengan semurna dengan chimichurri
                  </p>
                  <div class="options">
                    <h6>
                      Rp.35.000
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/katsu.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Chicken Katsu
                  </h5>
                  <p>
                    Renyahnya daging ayam yang dibaluti dengan tepung roti dan di goreng hingga golden brown.
                  </p>
                  <div class="options">
                    <h6>
                      Rp.25.000
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all fries">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/tako.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Takoyaki
                  </h5>
                  <p>
                    Renyahnya daging ayam yang dibaluti dengan tepung roti dan di goreng hingga golden brown
                  </p>
                  <div class="options">
                    <h6>
                      Rp.15.000
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="images/matcha.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Matcha Boba
                  </h5>
                  <p>
                    Boba dengan perpaduan rasa Matcha yang sedikit pahit dan lembutnya tekstur susu yang menyegarkan cocok diminum saat mood berantakan
                  </p>
                  <div class="options">
                    <h6>
                      Rp.25.000
                    </h6>
                  </div>
                </div>
              </div>
            </div>
      <div class="btn-box">
        <a href="\menu">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end food section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/owner.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Owner Pyog Cafe
              </h2>
            </div>
            <p>
              Hello guys, saya Yoga Septian Dwi Pratama. saya merupakan owner dari Pyog Cafe, umur saya 21th, saya hanyalah seorang perintis bukan pewaris. So, Enjoyed Guys.
            </p>
            <a href="\about">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Form Booking
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" class="form-control" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Your Email" />
              </div>
              <div>
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    How many persons?
                  </option>
                  <option value="">
                    2
                  </option>
                  <option value="">
                    3
                  </option>
                  <option value="">
                    4
                  </option>
                  <option value="">
                    5
                  </option>
                </select>
              </div>
              <div>
                <input type="date" class="form-control">
              </div>
              <div class="btn_box">
                <button>
                  Pesan
                <a href=""></a>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          Penilaian Customers
        </h2>
      </div>
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Saya sangat puas dengan pelayanan para Waiters yang sangat mendalami karakter yang diperankan masing-masing. saya paling suka dengan yang berkarakter sebagai wanita sadis.
                </p>
                <h6>
                  Lee Do Hyun
                </h6>
                </p>
              </div>
              <div class="img-box">
                <img src="{% static 'images/lee.jpg' %}" alt="" class="box-img">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Menu-menu disni sangat enak, storyable, tempatnya yang aestetik, dan pelayan yang cantik cantik :v jadi saya merekomendasikan cafe ini untuk kalian yang sedang butuh hiburan atau recharge body.
                </p>
                <h6>
                  Jang Han Seo
                </h6>
                </p>
              </div>
              <div class="img-box">
                <img src="{% static 'images/jang.jpg' %}" alt="" class="box-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="https://wa.me/+6285234626413">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +62 85234626413
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  yogaseptianpratama75@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Pyog Cafe
            </a>
            <p>
              Necessary, Recharge your body and your Mood in heree with me
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/owner_mixuee?igsh=a2J2bTUwMDRnbThh">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://pin.it/2SzKdrr">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            09.00 Am -09.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Design by Yoga Pratama <br><br>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->
  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>